In [1]:
import pandas as pd

In [7]:
A=pd.read_csv("Used_Bikes.csv")

In [20]:
####### Q1.
CITY=A[(A["city"]=="Jaipur")&(A["brand"]=="KTM")]
CITY

,bike_name,price,city,kms_driven,owner,age,power,brand
888,KTM RC 390cc,147000,Jaipur,15000,First Owner,6,390,KTM
4945,KTM Duke 390cc,200000,Jaipur,11700,First Owner,4,390,KTM
4948,KTM RC 390cc,175000,Jaipur,10880,First Owner,4,390,KTM
6073,KTM RC 200cc,190000,Jaipur,7902,First Owner,2,200,KTM
6159,KTM Duke 250cc,135000,Jaipur,12507,First Owner,4,250,KTM
6552,KTM RC 200cc,190000,Jaipur,7902,First Owner,2,200,KTM
6734,KTM RC 200cc,128000,Jaipur,15000,First Owner,4,200,KTM
7561,KTM Duke 250cc,150000,Jaipur,12500,First Owner,4,250,KTM

In [21]:
MIN_PRICE=CITY["price"].min()
print(f"MIN price of bike in Jaipur is {MIN_PRICE}")

MIN price of bike in Jaipur is 128000

In [12]:
##########  Q2.
DELHI=A[(A["city"]=="Delhi")&(A["owner"]=="First Owner")&(A["owner"]=="")]
DELHI

bike_name     BMW F750 GS 850cc
price                      5000
city                      Delhi
kms_driven                   40
owner               First Owner
age                           1
power                       100
brand                       BMW
dtype: object

In [17]:
minimum=DELHI["age"].min()
maximum=DELHI["age"].max()

print(f"Maximum age of bike present at Delhi is {maximum} and minimum age of bike present at delhi is {minimum}")

Maximum age of bike present at Delhi is 1 and minimum age of bike present at delhi is 1

In [ ]:
########## Q3.